# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# .gitignore for EFM8 Simplicity Studio.
*.obj
*__i
*.lst
*.mk
*.lnp
*.m51
*.omf

#########################################################################################################
##	This is an example .gitignore file for Vivado, please treat it as an example as 
##	it might not be complete. In addition, XAPP 1165 should be followed.
#########################################################################################################
#########
#Exclude all
#########
*
!*/
!.gitignore
###########################################################################
##	VIVADO
###########################################################################
#########
#Source files:
#########
#Do NOT ignore VHDL, Verilog, block diagrams or EDIF files.
!*.vhd
!*.v
!*.bd
!*.edif
#########
#IP files
#########
#.xci: synthesis and implemented not possible - you need to return back to the previous version to generate output products
#.xci + .dcp: implementation possible but not re-synthesis
#*.xci(www.spiritconsortium.org)
!*.xci
#*.dcp(checkpoint files)
!*.dcp
!*.vds
!*.pb
#All bd comments and layout coordinates are stored within .ui
!*.ui
!*.ooc
#########
#System Generator
#########
!*.mdl
!*.slx
!*.bxml
#########
#Simulation logic analyzer
#########
!*.wcfg
!*.coe
#########
#MIG
#########
!*.prj
!*.mem
#########
#Project files
#########
#XPR  +  *.XML ? XPR (Files are merged into a single XPR file for 2014.1 version)
#Do NOT ignore *.xpr files
!*.xpr
#Include *.xml files for 2013.4 or earlier version
!*.xml
#########
#Constraint files
#########
#Do NOT ignore *.xdc files
!*.xdc
#########
#TCL - files
#########
!*.tcl
#########
#Journal - files
#########
!*.jou
#########
#Reports
#########
!*.rpt
!*.txt
!*.vdi
#########
#C-files
#########
!*.c
!*.h
!*.elf
!*.bmm
!*.xmp

EFM32 Happy Gecko/an0009_efm32_getting_started/
EFM32 Happy Gecko/Original zips/
EFM32 Happy Gecko/um002_c/
EFM32 Happy Gecko/um004_interrupts_dma_prs/
EFM32 Happy Gecko/EFM32HG-RM.pdf
EFM32 Happy Gecko/Portfolio.docx
EFM32 Happy Gecko/Troubles controller.png
EFM32 Happy Gecko/Portfolio_TVA.pdf
EFM32 Happy Gecko/SimplicityStudio/.*
EFM32 Happy Gecko/SimplicityStudio/outgoing/
EFM32 Happy Gecko/PortfolioEFM32.docx
VHDL/PortfolioVHDL.docx
VHDL/PortfolioVHDL.pdf
project_Embedded.runs/
project_Embedded.hw/
project_Embedded.sim/
project_Embedded.ip_user_files/
project_Embedded.cache/
