# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# .gitignore for EFM8 Simplicity Studio.
*.obj
*__i
*.lst
*.mk
*.lnp
*.m51
*.omf

EFM32 Happy Gecko/an0009_efm32_getting_started/
EFM32 Happy Gecko/Original zips/
EFM32 Happy Gecko/um002_c/
EFM32 Happy Gecko/um004_interrupts_dma_prs/
EFM32 Happy Gecko/EFM32HG-RM.pdf
EFM32 Happy Gecko/Portfolio.docx
EFM32 Happy Gecko/Troubles controller.png
EFM32 Happy Gecko/Portfolio_TVA.pdf
EFM32 Happy Gecko/SimplicityStudio/.*
EFM32 Happy Gecko/SimplicityStudio/outgoing/