# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# .gitignore for EFM8 Simplicity Studio.
*.obj
*__i
*.lst
*.mk
*.lnp
*.m51
*.omf

Sleutel/an0009_efm32_getting_started/
Sleutel/Original zips/
Sleutel/um002_c/
Sleutel/um004_interrupts_dma_prs/
Sleutel/EFM32HG-RM.pdf
Sleutel/Portfolio.docx
Sleutel/Troubles controller.png
Sleutel/Portfolio_TVA.pdf
Sleutel/SimplicityStudio/.metadata/
Sleutel/SimplicityStudio/outgoing/